{% load widget_tweaks %}
{% load static %}
{% include 'layouts/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
.custom-card {
        border: 0; !important;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.5rem;
        padding: 0.8rem;
    }
</style>

<script>
    var currentURL = window.location.href
    var xhr = new XMLHttpRequest();

    /*Hide and show texbox to save the tasks on click of add button (based on click event)*/
    function showDiv(){
      document.getElementById('form').style.display = "block";
      document.getElementById('btn').style.display = "none";
    }

    /*it will shows add button again after adding new task */
    function showValue() {
      var name = document.getElementById('name')?.value;
      document.getElementById('form').style.display = "none";
      document.getElementById('btn').style.display = "block";
    }

    /*it will shows add button again after make a cancel for adding new task */
    function showValue1() {
      document.getElementById('form').style.display = "none";
      document.getElementById('btn').style.display = "block";
    }

    /*check weather the area is allowable to drop */
    function allowDrop(ev) {
      ev.preventDefault();
    }

    /*check weather the area is allowable for drag */
    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    /*this function will check task category (Doing/To do/Done) after dropping the task */
    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData('text');
      var target = ev.currentTarget;
      while (" "+target.className+" ".indexOf(" dropzone ") == -1) target = target.parentNode;
      target.appendChild(document.getElementById(data));
      var parentId = target.parentNode.getAttribute("id");
      var category = parentId == "card1" ? 1 : parentId == "card2" ? 2 : 3;
        xhr.open("GET", currentURL + 'update/' + data + '/' + category, true);
        xhr.send();
       window.location.reload();
    }

/*function fn_delete(id) {
    xhr.open("GET", currentURL + 'delete/' + id, true);
    xhr.send();
    window.location.reload();
}*/

    /*to handle the drag and drop functionality of task based on the Element id*/
    window.addEventListener("load",function () {
        var elms = document.querySelectorAll(".div1");
        for (var i = 0; i < elms.length; i++) {
            var target = elms[i];
            target.addEventListener("drop",drop);
            target.addEventListener("dragover",allowDrop);
        };

        elms = document.querySelectorAll("[draggable=true]")
        for (var i = 0; i < elms.length; i++) {
            var draggable = elms[i];
            draggable.addEventListener("dragstart",drag);
        };
    });

    /*Enable the textbox for update the task*/
    function editTask(ev) {
         document.getElementById('q-'+ ev).style.display = "block";
         document.getElementById('p-'+ ev).style.display = "none";
    }

    /*used to delete the task*/
    function hideCard(ev, action, token) {
         document.getElementById('p-'+ ev).style.display = "block";
         document.getElementById('q-'+ ev).style.display = "none";
    }
</script>
</head>

{% block main %}

<body>
<div class="row mt-3 ms-1 me-1">
    <div  class="col-sm-4">
        <div style="background-color: #e0e0e0" class="card"  id="card1">
            <div class="card-body div1" id="div1">
                <h4 class="card-title"><a class="font-weight-bold" style="font-size: 25px">Doing</a></h4>
               <div class="card-text">
                <div class="d-grid gap-3">
                    {% for task in tasks %}
                         {% if task.task_category == 1 %}
                             <form id="p-{{ task.id}}" method="post" action="delete/{{ task.id }}">
                                {% csrf_token %}
                                <div style="display:flex;justify-content: space-between;flex-direction: row; margin-top: 10px}" class="custom-card d-flex align-items-center " id="{{task.id}}" draggable="true">
                                    <p class=" fw-bold fs-6 text-wrap" style="color: black;width: 18rem">{{ task.task_name }}</p>
                                    <div>
                                        <a title="Edit"><button class="btn btn-link px-2 me-0"  type="button" onclick="editTask({{ task.id }})"><i class="fa fa-edit fa-lg"></i></button></a>
                                        <a title="Delete"><button class="btn btn-link px-2 me-0" type="submit"><i class="fa fa-trash fa-lg"></i></button></a>
                                    </div>
                                </div>
                            </form>
                            <form id="q-{{ task.id}}" method="post" action="edittask/{{ task.id }}" style="display: none">
                                {% csrf_token %}
                                <div style="display:flex;justify-content: space-between;flex-direction: row;}" class="custom-card d-flex align-items-center " id="card-token">
                                    {% render_field form.task_name value=task.task_name class="fw-bold fs-6 text-wrap" style="color: black;width: 18rem" %}
                                    <div>
                                       <a><button class="btn btn-link px-2 me-0" type="submit" onclick="hideCard({{ task.id }}, 'save', this)">save</button></a>
                                        <button title="Close" class="btn btn-link px-2 me-0" type="button" onclick="hideCard({{ task.id }}, 'close', this)"><i class="fa fa-remove"></i></button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
               </div>
                <div style="display:flex;justify-content: space-between;flex-direction: row;}" class="d-flex align-items-center row" id="div_ctrl">
                    <form method="post" id="form" style="display:none;">
                    {% csrf_token%}
                        <div>
                             <label class="mt-2 text-black font-weight-normal" for="task_name">Enter Task: </label>
                            {% render_field form.task_name class="form-control" %}
                        </div>
                         <div>
                            <button type="submit" style="padding: 10px"  class="btn btn-primary align-text-bottom " onclick="showValue()">Add Task</button>
                            <button title="close" type="button" class="btn btn-link px-2 me-0" style="font-size: 16px" onclick="showValue1()"><i class="fa fa-close fa-lg"></i></button>
                         </div>
                    </form>
                </div>
                <div style="float: right">
                    <button title="Add" style="border-radius: 50%;padding: 0;position: relative;}" class="btn btn-primary btn-floating" type="submit" id="btn" onclick="showDiv()"><i class="fa fa-plus"></i></button>
                </div>
             </div>
        </div>
    </div>
     <div  class="col-sm-4">
        <div style="background-color: #e0e0e0" class="card"  id="card2">
            <div class="card-body div1" id="div2">
                <h4 class="card-title"><a class="font-weight-bold" style="font-size: 25px">To Do</a></h4>
               <div class="card-text">
                <div class="d-grid gap-3">
                    {% for task in tasks %}
                         {% if task.task_category == 2 %}
                             <form id="p-{{ task.id}}" method="post" action="delete/{{ task.id }}">
                                {% csrf_token %}
                                <div style="display:flex;justify-content: space-between;flex-direction: row;margin-top: 10px}" class="custom-card d-flex align-items-center " id="{{task.id}}" draggable="true">
                                    <p class=" fw-bold fs-6 text-wrap" style="color: black;width: 18rem">{{ task.task_name }}</p>
                                    <div>
                                        <a title="Edit"><button class="btn btn-link px-2 me-0"  type="button" onclick="editTask({{ task.id }})"><i class="fa fa-edit fa-lg"></i></button></a>
                                        <a title="Delete"><button class="btn btn-link px-2 me-0" type="submit"><i class="fa fa-trash fa-lg"></i></button></a>
                                    </div>
                                </div>
                            </form>
                            <form id="q-{{ task.id}}" method="post" action="edittask/{{ task.id }}" style="display: none">
                                {% csrf_token %}
                                <div style="display:flex;justify-content: space-between;flex-direction: row;}" class="custom-card d-flex align-items-center " id="card-token">
                                    {% render_field form.task_name value=task.task_name class="fw-bold fs-6 text-wrap" style="color: black;width: 18rem" %}
                                    <div>
                                       <a><button class="btn btn-link px-2 me-0" type="submit" onclick="hideCard({{ task.id }}, 'save', this)">save</button></a>
                                        <button title="Close" class="btn btn-link px-2 me-0" type="button" onclick="hideCard({{ task.id }}, 'close', this)"><i class="fa fa-remove"></i></button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
               </div>
             </div>
        </div>
    </div>
     <div  class="col-sm-4">
        <div style="background-color: #e0e0e0" class="card"  id="card3">
            <div class="card-body div1" id="div3">
                <h4 class="card-title"><a class="font-weight-bold" style="font-size: 25px">Done</a></h4>
               <div class="card-text">
                <div class="d-grid gap-3">
                    {% for task in tasks %}
                         {% if task.task_category == 3 %}
                             <form id="p-{{ task.id}}" method="post" action="delete/{{ task.id }}">
                                {% csrf_token %}
                                <div style="display:flex;justify-content: space-between;flex-direction: row;margin-top: 10px}" class="custom-card d-flex align-items-center " id="{{task.id}}" draggable="true">
                                    <p class=" fw-bold fs-6 text-wrap" style="color: black;width: 18rem">{{ task.task_name }}</p>
                                    <div>
                                        <a title="Edit"><button class="btn btn-link px-2 me-0"  type="button" onclick="editTask({{ task.id }})"><i class="fa fa-edit fa-lg"></i></button></a>
                                        <a title="Delete"><button class="btn btn-link px-2 me-0" type="submit"><i class="fa fa-trash fa-lg"></i></button></a>
                                    </div>
                                </div>
                            </form>
                            <form id="q-{{ task.id}}" method="post" action="edittask/{{ task.id }}" style="display: none">
                                {% csrf_token %}
                                <div style="display:flex;justify-content: space-between;flex-direction: row;}" class="custom-card d-flex align-items-center " id="card-token">
                                    {% render_field form.task_name value=task.task_name class="fw-bold fs-6 text-wrap" style="color: black;width: 18rem" %}
                                    <div>
                                       <a><button class="btn btn-link px-2 me-0" type="submit" onclick="hideCard({{ task.id }}, 'save', this)">save</button></a>
                                        <button title="Close" class="btn btn-link px-2 me-0" type="button" onclick="hideCard({{ task.id }}, 'close', this)"><i class="fa fa-remove"></i></button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
               </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}
 </body>
</html>